<div id="first-page-view" class="view">
    <h2>Waiting Patients</h2>
    <ul id="patient-list">
        <li class="header">
            <span>Name</span>
            <span>Age</span>
            <span>Species</span>
            <span>Checked In</span>
        </li>
        <!-- ko foreach:patients -->
        <li class="patient">
            <span data-bind="text:name"></span>
            <span data-bind="text:age"></span>
            <span data-bind="text:species"></span>
            <span data-bind="text:moment(checkinTime()).format('h:mm:ss a')"></span>
            <a data-bind="attr: { href: '#/patient/'+id() }" title="view">
                <img src="/Images/search.png"/>
            </a>
            <a data-bind="click: $parent.removePatient.bind($data)" title="remove">
                <img src="/Images/clear.png"/>
            </a>
        </li>
        <!-- /ko -->
    </ul>
    
    <div id="patient-check-in" data-bind="with:newPatient">
        <div class="header">
            New Patient Check-In
        </div>
        <div>
            <label>Name</label><input type="text" data-bind="value:name"/>
        </div>
        <div>
            <label>Age</label><input type="text" data-bind="value:age"/>
        </div>
        <div>
            <label>Species</label><input type="text" data-bind="value:species"/>
        </div>
        <div>
            <label>Complaint</label><textarea data-bind="value:complaint"></textarea>
        </div>
        <button data-bind="click:$root.addPatient">Check In</button>
    </div>

</div>
