* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, Sans-Serif; }

body {
  background-color: #99ccff; }

button {
  padding: .25em;
  margin: .25em; }

a {
  padding: 2px 2px;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }
  a img {
    border: none; }

div.view {
  display: none; }

header {
  padding: .5em .1em;
  font-size: 2em;
  font-weight: bold;
  font-family: Georgia; }

#page {
  padding: 1em; }
  #page footer {
    clear: both;
    padding: 8px; }

#patient-list {
  padding: 8px;
  list-style-type: none; }
  #patient-list li {
    clear: both; }
    #patient-list li span {
      display: block;
      float: left;
      width: 100px; }
    #patient-list li.header {
      font-weight: bold; }

#patient-check-in {
  width: 300px;
  margin-top: 50px;
  margin-left: 100px; }
  #patient-check-in .header {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center; }
  #patient-check-in div {
    margin: 4px; }
  #patient-check-in label {
    padding-right: 4px;
    display: block;
    float: left;
    text-align: right;
    width: 80px;
    font-weight: bold; }
  #patient-check-in input {
    width: 200px; }
  #patient-check-in textarea {
    width: 202px; }
  #patient-check-in button {
    float: right; }

#second-page-view div {
  padding: 8px; }
#second-page-view label {
  font-weight: bold; }

