$maincolor: #9CF;
$accentcolor: #036;

* {
	padding: 0px; margin: 0px;
	font-family: Arial, Helvetica, Sans-Serif;
}

body {
	background-color: $maincolor;
}

button {
	padding: .25em;
	margin: .25em;
}

a {
	padding: 2px 2px;
	text-decoration: none;
	&:hover { 
		cursor: pointer;
	}
}

// Hide all views by default
div.view { display: none; }

header {
	padding: .5em .1em;
	font-size: 2em;
	font-weight: bold;
	font-family: Georgia;
}

#page {
	padding: 1em;

	footer{
		clear: both;
		padding: 8px;
	}
}


#patient-list {
	padding: 8px;
	list-style-type: none;
	li {
		clear: both;
		span {
			display: block;
			float: left;
			width: 100px;
		}
		&.header {
			font-weight: bold;
		}
	}
}

#patient-check-in {
	width: 300px;
	margin-top: 50px;
	margin-left: 100px;
	.header {
		font-weight: bold;
		font-size: 1.1em;
		text-align: center;
	}
	div{
		margin: 4px;
	}
	label {
		padding-right: 4px;
		display: block;
		float: left;
		text-align: right;
		width: 80px;
		font-weight: bold;
	}
	input {
		width: 200px;
	}
	textarea{ width: 202px; }
	button{
		float: right;
	}
}

#second-page-view {
	div { padding: 8px; }
	label { font-weight: bold; }

}



