$maincolor: #9CF;
$accentcolor: #036;

* {
	padding: 0px; margin: 0px;
}

body {
	background-color: $maincolor;
	color: $accentcolor;
}

// Hide all views by default
div.view { display: none; }

#page {
	padding: 1em;

	footer{
		clear: both;
		padding: 8px;
	}
}


#patient-list {
	padding: 8px;
	list-style-type: none;
	li {
		clear: both;
		span {
			display: block;
			float: left;
			width: 100px;
		}
		&.header {
			font-weight: bold;
		}
	}
}

#patient-check-in {
	width: 255px;
	margin-top: 50px;
	margin-left: 100px;
	.header {
		font-weight: bold;
		text-align: center;
	}
	div{
		margin: 4px;
	}
	label {
		display: block;
		float: left;
		text-align: right;
		width: 68px;
	}
	button{
		float: right;
	}
}



