* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #99ccff;
  color: #003366; }

div.view {
  display: none; }

#page {
  padding: 1em; }
  #page footer {
    clear: both;
    padding: 8px; }

#patient-list {
  padding: 8px;
  list-style-type: none; }
  #patient-list li {
    clear: both; }
    #patient-list li span {
      display: block;
      float: left;
      width: 100px; }
    #patient-list li.header {
      font-weight: bold; }

#patient-check-in {
  width: 255px;
  margin-top: 50px;
  margin-left: 100px; }
  #patient-check-in .header {
    font-weight: bold;
    text-align: center; }
  #patient-check-in div {
    margin: 4px; }
  #patient-check-in label {
    display: block;
    float: left;
    text-align: right;
    width: 68px; }
  #patient-check-in button {
    float: right; }

