<div id="second-page-view" class="view" data-bind="with:patient">
    <h2>Patient Details</h2>
    <div>
        ID:<span data-bind="text:id"></span>
    </div>
    <div>
        Name:<span data-bind="text:name"></span>
    </div>
</div>